


<!--This template is used for Creating or  Inserting the Data           It is under CreateView-->





{% extends 'app/dummy.html' %}




{% block title %}

    {% if form.instance.pk %}
        <title> Update-Data </title>
    {% else %}
        <title> Create Page </title>
    {% endif %}

{% endblock %}


{% block body_block %}
<form method="POST">
    {% csrf_token %}

    <br>
    {{form.as_p}}



    {% if form.instance.pk %}
        <input type="submit" value="SchoolUpdate" class="btn btn-primary">
    {% else %}
        <input type="submit" value="Create" class="btn btn-primary">
    {% endif %}



    
</form>
{% endblock %}